In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

pd.options.display.float_format = "{:.2f}".format
pd.options.display.max_rows = 10

In [9]:
fail_test = pd.read_csv(r"equip_failures_test_set.csv")
fail_test.head(3)

,id,sensor1_measure,sensor2_measure,sensor3_measure,sensor4_measure,sensor5_measure,sensor6_measure,sensor7_histogram_bin0,sensor7_histogram_bin1,sensor7_histogram_bin2,...,sensor105_histogram_bin2,sensor105_histogram_bin3,sensor105_histogram_bin4,sensor105_histogram_bin5,sensor105_histogram_bin6,sensor105_histogram_bin7,sensor105_histogram_bin8,sensor105_histogram_bin9,sensor106_measure,sensor107_measure
0,1,66888,na,2130706438,332,0,0,0,0,0,...,544762,504820,1597028,631494,5644,5448,11096,1982,0,0
1,2,91122,na,na,na,0,0,0,0,0,...,696774,345742,939332,943744,504048,203698,287374,36566,0,0
2,3,218924,na,na,na,na,na,0,280,119070,...,1032974,866000,1645644,1154924,3549128,1550716,15900,0,na,na

In [10]:
fail_train = pd.read_csv(r"equip_failures_training_set.csv")
fail_train.head(3)

,id,target,sensor1_measure,sensor2_measure,sensor3_measure,sensor4_measure,sensor5_measure,sensor6_measure,sensor7_histogram_bin0,sensor7_histogram_bin1,...,sensor105_histogram_bin2,sensor105_histogram_bin3,sensor105_histogram_bin4,sensor105_histogram_bin5,sensor105_histogram_bin6,sensor105_histogram_bin7,sensor105_histogram_bin8,sensor105_histogram_bin9,sensor106_measure,sensor107_measure
0,1,0,76698,na,2130706438,280,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,2,0,33058,na,0,na,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,3,0,41040,na,228,100,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0

In [13]:
descriptive_stats = fail_test.describe()
descriptive_stats

            id   target  sensor1_measure
count 60000.00 60000.00         60000.00
mean  30000.50     0.02         59336.50
std   17320.65     0.13        145430.06
min       1.00     0.00             0.00
25%   15000.75     0.00           834.00
50%   30000.50     0.00         30776.00
75%   45000.25     0.00         48668.00
max   60000.00     1.00       2746564.00

In [12]:
descriptive_stats = fail_train.describe()
descriptive_stats

            id  sensor1_measure
count 16001.00         16001.00
mean   8001.00         67995.20
std    4619.24        503519.27
min       1.00             0.00
25%    4001.00           928.00
50%    8001.00         30982.00
75%   12001.00         49478.00
max   16001.00      42949672.00

In [16]:
test_data_missing_to_zero = fail_test.fillna(0)
test_data_missing_to_zero.describe()

            id   target  sensor1_measure
count 60000.00 60000.00         60000.00
mean  30000.50     0.02         59336.50
std   17320.65     0.13        145430.06
min       1.00     0.00             0.00
25%   15000.75     0.00           834.00
50%   30000.50     0.00         30776.00
75%   45000.25     0.00         48668.00
max   60000.00     1.00       2746564.00

In [17]:
train_data_missing_to_zero = fail_train.fillna(0)
train_data_missing_to_zero.describe()

            id   target  sensor1_measure
count 60000.00 60000.00         60000.00
mean  30000.50     0.02         59336.50
std   17320.65     0.13        145430.06
min       1.00     0.00             0.00
25%   15000.75     0.00           834.00
50%   30000.50     0.00         30776.00
75%   45000.25     0.00         48668.00
max   60000.00     1.00       2746564.00